/*!

 =========================================================
 * Paper Kit PRO React v1.0.0 based on Paper Kit 2 Pro - v2.3.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/paper-kit-2-pro
 * Copyright 2019 Creative Tim (http://www.creative-tim.com)

 * Designed by www.invisionapp.com Coded by www.creative-tim.com

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

 */

@import "paper-kit/variables";
@import "paper-kit/mixins";

// Plugins CSS
@import "paper-kit/plugins/plugin-bootstrap-switch";
@import "paper-kit/plugins/plugin-nouislider";
@import "paper-kit/plugins/plugin-bootstrap-select";
@import "paper-kit/plugins/plugin-tagsinput";
@import "paper-kit/plugins/plugin-fileupload";
@import "paper-kit/plugins/plugin-datetimepicker";

// Core CSS
@import "paper-kit/nucleo-outline";
@import "paper-kit/alerts";
@import "paper-kit/checkbox-radio";
@import "paper-kit/badges";
@import "paper-kit/pagination";
@import "paper-kit/typography";
@import "paper-kit/misc";
@import "paper-kit/misc-extended";
@import "paper-kit/buttons";
@import "paper-kit/social-buttons";
@import "paper-kit/inputs";
@import "paper-kit/progress-bars";
@import "paper-kit/tooltips-and-popovers";

// components
@import "paper-kit/tabs-navs";
@import "paper-kit/navbars";
@import "paper-kit/navbar-extend";
@import "paper-kit/dropdown-extend";
@import "paper-kit/images";
@import "paper-kit/tags";
@import "paper-kit/animated-buttons";
@import "paper-kit/preloaders";
@import "paper-kit/tables";
@import "paper-kit/info-areas";
@import "paper-kit/media";
@import "paper-kit/modal";
@import "paper-kit/carousel";
@import "paper-kit/footers";
@import "paper-kit/headers";
@import "paper-kit/collapse";

// cards
@import "paper-kit/cards";
@import "paper-kit/cards/card-background";
@import "paper-kit/cards/card-blog";
@import "paper-kit/cards/card-contact";
@import "paper-kit/cards/card-image";
@import "paper-kit/cards/card-register";
@import "paper-kit/cards/card-plain";
@import "paper-kit/cards/card-pricing";
@import "paper-kit/cards/card-profile";
@import "paper-kit/cards/card-product";
@import "paper-kit/cards/card-signup";
@import "paper-kit/cards/card-testimonials";

// For gallery, using PhotoSwipe
@import "paper-kit/plugins/photo-swipe/main.scss";
@import "paper-kit/plugins/photo-swipe/default-skin.scss";
@import "paper-kit/plugins/photo-swipe/gallery.scss";
@import "paper-kit/plugins/photo-swipe/main.scss";

// Isometric cards plugin
@import "paper-kit/plugins/plugin-isometricGrids";

// example pages and sections
@import "paper-kit/examples";
@import "paper-kit/sections";
@import "paper-kit/sections-extend";

@import "paper-kit/responsive";

// Nucleo Icons
@import "paper-kit/nucleo-icons";

// React Differences
@import "react/react-differences";


.galImg {
  img {
    object-fit: cover !important;
}  
}
.take {
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  filter: brightness(2.5);
}
.take:hover {
  filter: brightness(0.9);
}
.takeOnMe {
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  opacity: 0;
}
.takeOnMe:hover {
  opacity: 1;
}
.imgRes {
  margin-left: -1300px;
}
.navbar-transparent .navlink,
[class*="bg"] {
  color: #ffffff;
  font-weight: 700;
}

a {
  color: #66615b;
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .imgRes {
    margin-left: -1050px;
  }
}

@media screen and (max-width: 990px) {
  .imgRes {
    margin-left: -700px;
  }
}

@media screen and (max-width: 769px) {
  .imgRes {
    margin-left: -450px;
  }

  .section-latest-edition-heading {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 550px) {
  .imgRes {
    margin-left: -400px;
  }
}
@media screen and (max-width: 515px) {
  .imgRes {
    margin-left: -350px;
  }
}
@media screen and (max-width: 490px) {
  .imgRes {
    margin-left: -300px;
  }
}

@media screen and (max-width: 435px) {
  .imgRes {
    margin-left: -250px;
  }
}

@media screen and (max-width: 417px) {
  .imgRes {
    margin-left: -200px;
  }
}

@media screen and (max-width: 382px) {
  .imgRes {
    margin-left: -150px;
  }
}

@media screen and (max-width: 349px) {
  .imgRes {
    margin-left: -100px;
  }
}

@media screen and (max-width: 327px) {
  .imgRes {
    margin-left: -50px;
  }
}

.blog-content > figure > img {
  width: 100%;
}

.blog-content > p > a {
  color: #e15a97;
  border-bottom: 1px solid #494850;
  font-weight: 400;
}

.blog-content p {
  font-weight: 400;
  line-height: 1.6;
}

.abc {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.blog-attr {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.section {
    padding: 70px 0;
    position: relative;
    }
