@media screen and (max-width: 780px) {
  .soc_gallery {
    width: 420px !important;
  }
}
@media screen and (max-width: 480px) {
  .soc_gallery {
    width: 300px !important;
  }
}

.news_carousal {
  height: 300px;
  background-color: lightgrey;
  margin-bottom: 50px;
  margin-top: 30px;
}
